<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title> 인우 상세보기 페이지</title>
    </th:block>
	
	

	


    <th:block layout:fragment="content">
	 <input type="text" id="id" name="id" content="id" th:if="${post != null}" th:value="${post.id}" />
        <div class="card-content">
        	<div class="form-group">
        		<span style = "font-size :1.5em;">요청사항</span>
        	</div>

            <div class="form-group">
                <label class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10">
                    <p class="form-control" id="title" th:text="${post.title}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10">
                    <p class="form-control" id="writer" th:text="${post.writer}"></p>
                </div>
            </div>
			
            <div class="form-group">
                <label class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                   <textarea class="summernote" id="summernote" name="content" placeholder="content" maxlength="140" rows="7" th:text="${post.content}"></textarea>
                </div>
            </div>			

			
			<!--  이부분이 원래 view 부분의 내용 부분   
            <div class="form-group">
                <label class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                    <p class="form-control" id="content" th:text="${post.content}"></p>
                </div>
            </div>
			 -->
 
            <div class="form-group">
                <label class="col-sm-2 control-label">등록일</label>
                <div class="col-sm-10">
                    <p class="form-control" th:text="*{#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm:ss' )}"></p>
                </div>
            </div>
			
			
			<!-- 
            <div class="form-group">
                <label class="col-sm-2 control-label">조회 수</label>
                <div class="col-sm-10">
                    <p class="form-control" id="viewCnt" th:text="${post.viewCnt}"></p>
                </div>
            </div>
			 -->
		
			<!--  이게 파일 있을때 잘 안되면 이거 살리고 위에 있는거 죽이 
			<div th:if="${not #lists.isEmpty( pile )}" data-name="fileDiv" class="form-group filebox bs3-primary"> 
				<label for="file_0" class="col-sm-2 control-label">첨부한 파일</label>
				<div class="col-sm-10">
					<input type="text" class="upload-name" th:value="${pile.originalName}" />
					<a href="javascript: void(0);" onclick="goDownLoad();" class="btn btn-primary waves-effect waves-light">파일 다운로드 받기</a>		
				</div>
			</div>
			-->

			<!--  -->
			
			<div th:if="${not #lists.isEmpty( ppile )}" class="form-group">
				<label class="col-sm-2 control-label">첨부한 파일</label>
				<div class="col-sm-10">
					<div class="form-control file_list">
						<a th:each="row, status : ${ppile}" th:href="@{/post/download.do( id=${row.id} )}">
							<i class="fa fa-file-o" aria-hidden="true"></i>
							[[ ${row.originalName} ]]
						</a>
					</div>
				</div>
			</div>
			

			 <!-- 
			<div class="btn_wrap text-center">
	                 <a href="javascript: void(0);" onclick="goListPage();" class="btn btn-default waves-effect waves-light">뒤로가기</a>  
	                <a href="javascript: void(0);" onclick="goWritePage();" class="btn btn-primary waves-effect waves-light">수정하기</a>
	                
	                <a href="javascript: void(0);" onclick="deletePost();">
	                	<button type="button" class="btn btn-danger waves-effect waves-light" >삭제하기</button>
	                </a>
	              
	  
	            <!-- 
	                <a href="javascript: void(0);" onclick="deletePost();">
	                	<button type="button" class="btn btn-danger waves-effect waves-light" >삭제하기</button>
	                </a>
	              -->

	            </div>
	            
	            
	            <!-- 
	            <div class="btn_wrap text-right">
                	<a th:href="@{/post/masterwrite.do}" class="btn btn-primary waves-effect waves-light">이거 누르면 관리자가 글작성하는 부분으로 넘어가는 버튼</a>
            	</div>
	             -->
            	 
	             
	            
	            
	            <br><br><br><hr style="width:100%;height:2px;border:none;background-color:black;"><br><br><br>

	            
	            
	           
        	<div class="form-group">
        		<span style = "font-size :1.5em;"> 인우 처리사항</span>
        	</div>	            
	            
            <form id="saveForm" class="form-horizontal" method="post" autocomplete="off"  enctype="multipart/form-data"   >
                <!--/* 기존 게시글 수정인 경우, 서버로 전달할 게시글 번호(id) */-->
                <input type="text" id="id" name="id" content="id" th:if="${post != null}" th:value="${post.id}" />

                

                
                
                <input type="hidden" id="noticeYn" name="noticeYn" />
                
                <div class="form-group">
                    <label for="masterTitle" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" id="masterTitle" name="masterTitle" class="form-control" maxlength="50" placeholder="제목을 입력해 주세요." />
                    </div>
                </div>
                
               
                
                <div class="form-group">
                    <label for="masterWriter" class="col-sm-2 control-label">이름</label>
                    <div class="col-sm-10">
                        <input type="text" id="masterWriter" name="masterWriter" class="form-control" maxlength="10" placeholder="이름을 입력해 주세요." />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="masterContent" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                       <textarea class="summernote" id="summernote" name="masterContent" placeholder="masterContent" maxlength="140" rows="7"></textarea>
                    </div>
                </div>
                
				<!-- 
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                        <textarea id="content" name="content" class="form-control" maxlength="1000" placeholder="내용을 입력해 주세요."></textarea>
                    </div>
                </div>
                -->
                 
                 
                            
				<div data-name="fileDiv" class="form-group filebox bs3-primary">
					<label for="file_0" class="col-sm-2 control-label">파일1</label>
					<div class="col-sm-10">
						<input type="text" class="upload-name" value="파일 찾기" readonly />
						<label for="file_0" class="control-label">찾아보기</label>
						<input type="file" name="files" id="file_0" class="upload-hidden" onchange="changeFilename(this)" />
					
						<button type="button" onclick="addFile()" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
						<button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
							<i class="fa fa-minus" aria-hidden="true"></i>
						</button>
					</div>
				</div>             
                 
				
				
				<div id="btnDiv" class="btn_wrap text-center" th:object="${masterparams}">
                	<a th:href="@{/post/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                	<button type="button" class="btn btn-primary waves-effect waves-light" onclick="mastersavePost();">저장하기</button>
            	</div>
				
				
            </form>
				
				
					            
	            
	            
	            

				<!-- <a href="javascript: void(0);" onclick="togoWritePage();" class="btn btn-primary waves-effect waves-light"></a>  -->


				<!-- 	            
	           <div class="btn_wrap text-right">
                <a th:href="@{/post/masterwrite.do}" class="btn btn-primary waves-effect waves-light">관리자가 답변 달아주기 버튼</a>
            	</div>
				 -->
				
				
				<!--  
	           <div class="btn_wrap text-right">
                <a th:href="@{/post/masterwrite.do}" class="btn btn-primary waves-effect waves-light"   >관리자가 답변 달아주기 버튼</a>
            	</div>
				  -->

	        </div>
    </th:block>
    
    
    
        
        
        
    





<th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
        	$('.summernote').summernote({
	 			 height: 150,
	 			 lang: "ko-KR"
				});
        


  
        
            // 게시글 삭제
            function deletePost() {
                const id = [[ ${post.id} ]];
                if ( !confirm( " 게시글을 삭제할까요?") ) {
                    return false;
                }

                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
                })

                const formHtml = `
                    <form id="deleteForm" action="/post/delete.do" method="post">
                        ${inputHtml}
                    </form>
                `;

                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }
            
  
            
         	// 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('id');
                location.href = '/post/list.do' + '?' + queryString.toString();
         	}
         	
         // 게시글 수정 페이지로 이동
            function goWritePage() {
                location.href = '/post/write.do' + location.search;
            }
         
         
         // 게시글 처리 페이지로 이동
        //    function goProcessingPage() {
        //        location.href = '/post/processing.do' + location.search;
        //    }
        //  게시글 수정 페이지로 이동
            function togoWritePage() {
                location.href = '/post/masterwrite.do' + location.search;
            }
   
        
        
        
        	window.onload = () => {
                renderPostInfo();
            }


            // 게시글 상세정보 렌더링
            function renderPostInfo() {
                const masterpost = [[ ${masterpost} ]];
                if ( !masterpost ) {
                    return false;
                }

                const form = document.getElementById('saveForm');
                const fields = ['masterId', 'masterTitle', 'masterContent', 'masterWriter', 'id'];
                

                fields.forEach(field => {
                    form[field].value = masterpost[field];
                })
            }

            // 게시글 저장(수정)
            function mastersavePost() {
                const form = document.getElementById('saveForm');
                const fields = [form.masterTitle, form.masterWriter, form.masterContent, form.id];
                const fieldNames = ['제목', '이름', '내용', '사용자 게시글번호'];

                for (let i = 0, len = fields.length; i < len; i++) {
                    if ( !isValid(fields[i], fieldNames[i]) ) {
                        return false;
                    }
                }

                
                form.action = [[ ${masterpost == null} ]] ? '/post/mastersave.do' : '/post/update.do';     
                form.submit();
                
            }
            
  
            let fileIdx = 0; /*[- 파일 인덱스 처리용 전역 변수 -]*/

            function addFile() {

            	const fileDivs = $('div[data-name="fileDiv"]');
            	if (fileDivs.length > 2) {
            		alert('파일은 최대 세 개까지 업로드 할 수 있습니다.');
            		return false;
            	}

            	fileIdx++;

            	const fileHtml = `
            		<div data-name="fileDiv" class="form-group filebox bs3-primary">
            			<label for="file_${fileIdx}" class="col-sm-2 control-label"></label>
            			<div class="col-sm-10">
            				<input type="text" class="upload-name" value="파일 찾기" readonly />
            				<label for="file_${fileIdx}" class="control-label">찾아보기</label>
            				<input type="file" name="files" id="file_${fileIdx}" class="upload-hidden" onchange="changeFilename(this)" />

            				<button type="button" onclick="removeFile(this)" class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
            					<i class="fa fa-minus" aria-hidden="true"></i>
            				</button>
            			</div>
            		</div>
            	`;

            	$('#btnDiv').before(fileHtml);
            }

			/*[- end of function -]*/

			
			function removeFile(elem) {
			
				const prevTag = $(elem).prev().prop('tagName');
				if (prevTag === 'BUTTON') {
					const file = $(elem).prevAll('input[type="file"]');
					const filename = $(elem).prevAll('input[type="text"]');
					file.val('');
					filename.val('파일 찾기');
					return false;
				}
			
				const target = $(elem).parents('div[data-name="fileDiv"]');
				target.remove();
			}
			/*[- end of function -]*/

			function changeFilename(file) {
			
				file = $(file);
				const filename = file[0].files[0].name;
				const target = file.prevAll('input');
				target.val(filename);
			}        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
         


 

   
        /*]]>*/
        </script>
    </th:block>
</html>